:root{
  --color-background-primary: #edf6f9;
  --color-background-secondary: #22223b;
  --color-card-background: #fff;  
  --color-text-primary: #6c757d;  
  --color-text-secondary: #edf6f9;  
  --color-red: #bf0603;
  --color-green: #06b406;

}

*{ margin: 0; padding: 0; box-sizing: border-box; outline: none; }

input, select, option, textfield{
  font-family: 'Lato', sans-serif;  
  font-size: .9rem;
}

body{
  background-color: var(--color-background-primary);
  font-family: 'Lato', sans-serif;  
  color: var(--color-text-primary);
}

.container{  
  margin: 0 auto;
  max-width: 860px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

header{
  width: 100%;
  height: 190px;
  background-color: var(--color-background-secondary);    
}

#title{  
  text-align: center;
  color: var(--color-text-secondary);
  margin-top: 1rem;
  font-size: 2.2rem;
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#balance{
  display: flex;
  flex-direction: column;  
  align-items: flex-start;  
  margin-top: -6rem; 
}

#balance h2{    
  margin-bottom: .5rem;  
  font-size: 1.2rem;
  color: var(--color-text-secondary);
}

#cards{
  width: 100%;
  display: flex;
  animation: cards 1s;
}

#card{
  width: 100%;
  background-color: var(--color-card-background);
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: .5rem;
}

#card h3{
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .7rem;
  margin-bottom: .7rem;
}

#card h3 img{
  height: 20px;
}

#card span{
  font-size: 1.3rem;
  font-weight: 700;
}

#card.positive-balance{
  background-color: var(--color-green);
  color: var(--color-card-background);
}

#card.negative-balance{
  background-color: var(--color-red);
  color: var(--color-background-primary);
}


/* TRANSACTIONS STYLES */
#transactions{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5rem;
}

#transactions .transactions--title{  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

#transactions .transactions--title h2{      
  font-size: 1.1rem;    
}

#transactions .transactions--title button{      
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--color-green);
  font-weight: 700;
  font-size: .9rem;
  transition: opacity 150ms;
  display: block;
}

#transactions .transactions--title button:hover{      
  opacity: .8;
}

#transactions .transactions--header{  
  width: 100%;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  border-radius: 8px 8px 0 0;
  background: var(--color-card-background); 
  font-size: .9rem; 
}

#transactions .transactions--header span{
  width: 20%;
}

#transactions .transactions--header span:first-child{
  width: 35%;
}

#transactions .transactions--header span:last-child{
  width: 15%;
  text-align: center;
}

#transactions ul{
  width: 100%;   
  list-style: none; 
  color: var(--color-text-primary);
  text-align: left;
  font-size: .9rem;
  border-spacing: 0 .5rem;
}

#transactions ul li{
  width: 100%;
  padding: 8px 12px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;    
  background: var(--color-card-background); 
  font-size: .9rem; 
  opacity: .7;
  transition: opacity 150ms;
}

#transactions ul li span{
  width: 20%;
}

#transactions ul li span:first-child{
  width: 35%;  
}

#transactions ul li span:last-child{
  width: 15%;
  text-align: center;
}

#transactions ul li:last-child{
  border-radius: 0 0 8px 8px;
}

#transactions ul li:hover{
  opacity: 1;
}

#transactions ul li span button{
  background: none;
  border: none;
  cursor: pointer;
}

#transactions ul li span button img{
  height: 20px;
}

#transactions-amount.debit{
  color: var(--color-red);
}

#transactions-amount.income{
  color: var(--color-green)
}

#new-trasaction--mobile{  
  border-radius: 50%;
  border: none;
  background: var(--color-green);  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8rem;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: none;
  cursor: pointer;
}

#new-trasaction--mobile img{
  height: 3rem;
}

/* FOOTER STYLES */
footer{  
  margin: 0 auto;  
  text-align: center;
  padding: 2rem; 
  color: var(--color-text-primary) 
}


/* MODAL STYLES */
#modal{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  transition: opacity 150ms;
}

.isVisible{
  visibility: visible!important;
  opacity: 1!important;
}


#modal .modal-container{
  background-color: var(--color-background-primary);
  width: 100%;
  max-width: 560px;
  padding: 3rem;
  border-radius: 8px;
  margin: 0 12px;
}

#new-transaction legend{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-background-secondary);
  margin-bottom: 1rem;
}

#new-transaction fieldset{
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

#new-transaction fieldset div{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#new-transaction fieldset div input,
#new-transaction fieldset div select{
  border: solid 2px;
  border-color: var(--color-card-background);
  padding: .8rem 1.2rem;
  border-radius: 8px;
  background-color: var(--color-card-background);
  color: var(--color-text-primary);
  transition: border-color 150ms;
}

#new-transaction fieldset div input:hover,
#new-transaction fieldset div input:focus{
  border-color: solid 2px var(--color-background-secondary);
}

#new-transaction fieldset div select:hover,
#new-transaction fieldset div select:focus{
  border-color: solid 2px var(--color-background-secondary);
}

#new-transaction fieldset div input[type="date"]:hover,
#new-transaction fieldset div input[type="date"]:focus{
  border-color: solid 2px var(--color-background-secondary);
}

#new-transaction fieldset div input::-webkit-inner-spin-button,
#new-transaction fieldset div input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

#new-transaction fieldset div input[type=number]{
  -moz-appearance: textfield;
}

#new-transaction fieldset div input[type=date]{
  border: solid 2px var(--color-card-background);
}

#new-transaction fieldset div+div,
#new-transaction fieldset button+button{
  margin-top: 8px;
}

#new-transaction fieldset div input,
#new-transaction fieldset button{
  width: 100%;  
  padding: .8rem 1.2rem;
  cursor: pointer;
}

#new-transaction fieldset button{   
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 700;    
}

#new-transaction--save{
  background-color: var(--color-green);   
  border: solid 2px var(--color-green); 
  color: var(--color-text-secondary);
  transition: opacity 150ms;  
}

#new-transaction--save:hover{    
  opacity: .8;
}

#new-transaction--cancel{
  background-color: transparent;
  border: solid 2px var(--color-red);
  color: var(--color-red);
  transition: all 150ms;
}

#new-transaction--cancel:hover{
  background-color: var(--color-red);  
  color: var(--color-text-secondary);  
}

@media(max-width: 750px){
  #cards{
    flex-direction: column;
  }

  #transactions .transactions--title button{
    display: none;
  }

  #transactions ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #transactions ul li{
    width: 49%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }

  #transactions ul li span{    
    width: 100%;
    margin: 4px;
  }

  #transactions ul li span button{
    position: absolute;
    top: 15px;
    right: 15px;
  }

  #new-trasaction--mobile{
    display: block;
  }

}

@keyframes cards{
  from{    
    opacity: 0;    
  }
  to{    
    opacity: 1;    
  }
}